<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='esi.practice.site'}"></sly>
</sly>

<div data-sly-use.product="com.adobe.aem.guides.esi.core.models.ProductModel"
     data-component-id="${resource.path @ context='html'}"
     data-api-path="${resource.path @ context='uri'}">  <!-- 新增 data-api-path 來存資源路徑 -->
    <img src="${product.fileReference @ context='uri'}" alt="產品圖片"/>

    <h1 class="product-title ${product.titleColor @ context='styleString'}">產品名稱：${product.productTitle @ context='html'}</h1>

    <p>上架日期：${product.formattedProductDate @ context='html'}</p>

    <p>產品資訊：${product.productInfo @ context='html'}</p>

    <button class="my-button" data-name="${product.buttonText @ context='html'}">${product.buttonText @ context='html'}</button>
</div>

<div>
    --------------------------------------------------------
    <script>
        const apiPath = document.querySelector('[data-api-path]').dataset.apiPath;
    fetch(apiPath + '.json') // 調用 /content/.../product.json
        .then(response => {
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
        })
        .then(data => console.log('Product Data:', data))
        .catch(error => console.error('Error:', error));

        fetch('https://randomuser.me/api/').then(response => response.json()).then(data => console.log(data));
    </script>
</div>