<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='demo-library'}"></sly>
</sly>



<div data-sly-use.product="com.adobe.aem.guides.esi.core.models.ProductModel">

    <img
            src="${product.fileReference}"
            alt="${product.productTitle || '產品圖片'}"/>

    <div data-sly-test="${product.productTitle}">
        <h1>產品標題：${product.productTitle}</h1>
    </div>

    <div data-sly-test="${product.formattedProductDate}">
        <p>產品上架日期：${product.formattedProductDate}</p>
    </div>

    <div data-sly-test="${product.productInfo}">
        <p>產品資訊：${product.productInfo}</p>
    </div>

    <div data-sly-test="${product.buttonText}">
        <button>${product.buttonText}</button>
    </div>
</div>